<div class="nickname">
    ニックネーム：{{nickname}}
</div>
<div class="caption">
    ゲーム開始までしばらくお待ちください。    
</div>
<div class="btn_area">
    <div class="btn" id="nickname_btn">ニックネーム変更</div>
    <div class="btn" id="description_btn">ゲームの説明を見る</div>
</div>